:root{
    --cor-principal: #433d3d;
    --cor-forte: #314c53;
    --cor-clara: #ececdd;
    --cor-detalhes: #152b3c;

    --fonte-titulo: "Open Sans", sans-serif;
    --fonte-texto: 'Merriweather', serif;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: var(--cor-clara);
}

#container{
    height: 100vh;
    box-sizing: border-box;
}

nav{
    width: 80%;
    margin: auto;
    height: 6rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav_logo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1em;
    width: 6em;
}

.nav_logo i{
    font-size: 30px;
    color: var(--cor-forte);
}

.nav_logo span{
    font-size: 15px;
    text-align: center;
    cursor: default;
    font-family: var(--fonte-titulo);
}

nav ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    gap: 2em;
    color: var(--cor-principal);
    font-family: var(--fonte-titulo);
}

nav li{
    display: flex;
    font-size: 15px;
}

nav li:hover{
    text-decoration: underline;
    cursor: pointer;
}

.nav_button{
    display: flex;
    align-items: center;
    gap: 20px;
}

.nav_button button{
    width: 8em;
    height: 40%;
    border-radius: 999px; 
    border: none;
    font-family: var(--fonte-titulo);
    color: var(--cor-principal);
    font-size: 15px;
}
