:root{
    --cor-principal: #433d3d;
    --cor-forte: #314c53;
    --cor-clara: #ececdd;
    --cor-detalhes: #152b3c;

    --fonte-titulo: "Open Sans", sans-serif;
    --fonte-texto: 'Merriweather', serif;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

#container{
    height: 100vh;
    box-sizing: border-box;
    background-color: var(--cor-clara);
}

nav{
    width: 80%;
    margin: auto;
    height: 6rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav_logo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1em;
    width: 6em;
}

.nav_logo i{
    font-size: 30px;
    color: var(--cor-forte);
}

.nav_logo span{
    font-size: 15px;
    text-align: center;
    cursor: default;
    font-family: var(--fonte-titulo);
    color: var(--cor-principal);
}

nav ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    gap: 2em;
    color: var(--cor-principal);
    font-family: var(--fonte-titulo);
}

nav li{
    display: flex;
    font-size: 15px;
}

nav li:hover{
    text-decoration: underline;
    cursor: pointer;
}

.nav_button{
    display: flex;
    align-items: center;
    gap: 2em;
}

.nav_button button{
    width: 8em;
    height: 40%;
    border-radius: 999px; 
    border: 1px solid #152b3c;
    font-family: var(--fonte-titulo);
    color: var(--cor-principal);
    font-size: 15px;
    cursor: pointer;
}

.nav_button #button_login:hover{
    background-color: var(--cor-detalhes);
    color: var(--cor-clara);
}

.nav_button #button_cadastro{
    background-color: var(--cor-detalhes);
    color: var(--cor-clara);
}

.nav_button #button_cadastro:hover{
    background-color: var(--cor-clara);
    color: var(--cor-principal);
}

main {
  width: 100%;
  min-height: 84vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  background-image: url("../img/quarto.png");
}

main::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.692);
}

.main_banner{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    color: #ececdd;
}

.banner_texto{
    padding-top: 12em;
    box-sizing: border-box;
    text-align: center;
}

.banner_texto h2{
    font-family: var(--fonte-titulo);
    font-size: 3em;
    font-weight: 500;
}

.banner_texto p{
    padding: 0.5em;
    font-family: var(--fonte-texto);
}

@media (max-width: 782px) {
    
    nav{
        width: 100%;
        padding: 0 20px;
    }

    .nav_logo{
        gap: 0;
    }

    nav ul{
        gap: 1em;
    }

    .nav_button{
        gap: 0.5em;
    }

}

@media (max-width: 639px) {

    nav{margin-top: 5%;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        gap: 20px;
    }

    .nav_logo{
        width: 10em;
    }

    .nav_button button{
        height: 2em;
    }
    
}
